IP Reputation Checker.json
{
  "name": "IP Reputation Checker",
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.virustotal.com/api/v3/ip_addresses/{{$json['IP Address']}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-apikey",
              "value": "YOUR_API_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [64, 0],
      "id": "7540bee3-5840-4b75-8f54-4ced5f388b52",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ffd3cb81-b9e8-4f30-a045-ea74fe9bbbf8",
              "leftValue": "={{$json.data.attributes.reputation}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [224, 0],
      "id": "abeeb81b-54c8-4d9d-bf55-d3ef60566a64",
      "name": "If"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BB6522M2S",
          "mode": "id"
        },
        "text": "=⚠️ MALICIOUS IP DETECTED! Reputation Score: {{$json.data.attributes.reputation}} Malicious Detections: {{$json.data.attributes.last_analysis_stats.malicious}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [432, -96],
      "id": "53bb26b3-17e5-448d-b388-14423406e28a",
      "name": "Send a message"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BB6522M2S",
          "mode": "id"
        },
        "text": "=✅ IP CLEAN! IP is safe according to VirusTotal Reputation Score: {{$json.data.attributes.reputation}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [432, 96],
      "id": "643d0642-98df-421e-9c00-22f8e5210b7c",
      "name": "Send a message1"
    },
    {
      "parameters": {
        "formTitle": "IP Reputation Checker",
        "formDescription": "Check if an IP is malicious",
        "formFields": {
          "values": [
            {
              "fieldLabel": "IP Address",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [-336, 0],
      "id": "35c32338-6d0b-467b-83a1-f6177c5b2a7d",
      "name": "On form submission"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}